<% content_for(:title, Bottom.model_name.human) %>
<div>
  <div class= "flex justify-center mb-10">
    <%= image_tag 'bottoms_logo_image.png', size: '400x400' %>
  </div>
  <%= image_tag 'bottoms_guide_image.png', size: '350x350' %>
  <%= render 'bottom', { bottom: @bottom } %>
  <div class= "px-24 py-3 mt-10 border-2 border-black rounded-md bg-black text-center text-white hover:bg-white hover:text-black duration-300 hover:transition hover:duration-300 hover:scale-125 hover:cursor-pointer">
    <%= link_to t('defaults.edit'), edit_bottom_path %>
  </div>
</div>