<footer class= "flex flex-col items-center">
  <div class= "flex flex-row items-center">
    <p>利用規約</p>
    <p class= "mx-5">|</p>
    <p>プライバシーポリシー</p>
    <p class= "mx-5">|</p>
    <p>お問い合わせ</p>
  </div>
  <p class= "my-3">©️2022 No More Despair</p>
</footer>