<footer class= "flex flex-col items-center p-10 md:text-base text-sm">
  <div class= "flex flex-row">
    <p><%= t('significant.terms_of_service') %></p>
    <p class= "flex justify-center items-center md:mx-5 mx-2">|</p>
    <p><%= t('significant.privacy_policy') %></p>
  </div>
  <p class= "my-3"><%= t('significant.copyright') %></p>
</footer>