<footer class= "flex flex-col items-center">
  <div class= "flex flex-row items-center">
    <p><%= t('significant.terms_of_service') %></p>
    <p class= "mx-5">|</p>
    <p><%= t('significant.privacy_policy') %></p>
    <p class= "mx-5">|</p>
    <p><%= t('significant.inquiry') %></p>
  </div>
  <p class= "my-3">©️2022 No More Despair</p>
</footer>