<footer class= "flex flex-col items-center p-10 md:text-base text-sm">
  <div class= "flex flex-row">
    <%= link_to t('significant.terms_of_service'), 'https://kiyac.app/termsOfService/nIdRZ9hjYGBXUX3Csl8K' %>
    <p class= "flex justify-center items-center md:mx-5 mx-2">|</p>
    <%= link_to t('significant.privacy_policy'), 'https://kiyac.app/privacypolicy/Zy76mTHIi8lv7h7UKv1p' %>
  </div>
  <p class= "my-3"><%= t('significant.copyright') %></p>
</footer>