<header class= "flex justify-between items-center p-3 bg-gray-300">
  <p>No More Despair</p>
    <ul class= "flex flex-row invisible md:visible">
      <li class= "mx-3">
        <%= link_to 'Tops', root_path %>
      </li>
      <li class= "mx-3">
        <%= link_to 'Sizes', sizes_path %>
      </li>
    </ul>
</header>