<header class= "flex justify-between items-center pb-2 bg-gray-400 md:bg-transparent sticky top-0">
  <%= link_to root_path do %>
    <%= image_tag 'sub_logo.png', size: '150x150' %>
  <% end %>
  <ul class= "flex flex-row">
    <li class= "mt-2 mr-2 font-bold">
      <%= link_to t('defaults.login'), login_path %>
    </li>
  </ul>
</header>