<header class= "flex justify-between items-center px-3 pb-2 bg-gray-400 bg-opacity-60 sticky top-0 z-50">
  <%= link_to root_path do %>
    <%= image_tag 'cloth_size_sub_logo.png', size: '200x200' %>
  <% end %>
  <div class= "font-bold">
    <%= button_to t('defaults.logout'), logout_path, method: :delete %>
  </div>
</header>