<header class= "flex justify-between items-center p-3 bg-gray-300 sticky top-0">
  <p>No More Despair</p>
    <ul class= "flex flex-row invisible md:visible">
      <li class= "mx-3">
        <%= link_to 'Home', root_path %>
      </li>
      <li class= "mx-3">
        <%= link_to 'Tops', top_path(@top) %>
      </li>
      <li class= "mx-3">
        <%= link_to 'Bottoms', bottom_path(@bottom) %>
      </li>
      <li class= "mx-3">
        <%= button_to t('defaults.logout'), logout_path, method: :delete %>
      </li>
    </ul>
</header>