<header class= "flex justify-between items-center p-3 bg-gray-300 sticky top-0">
  <p>No More Despair</p>
    <ul class= "flex flex-row invisible md:visible">
      <li class= "mx-3">
        <%= link_to 'Home', root_path %>
      </li>
      <li class= "mx-3">
        <%= link_to 'Sizes', new_size_path %>
      </li>
      <li class= "mx-3">
        <%= link_to t('defaults.logout'), logout_path %>
      </li>
    </ul>
</header>