<div class= "flex flex-row justify-center items-center bg-gray-300 p-2 sticky bottom-0 md:invisible">
  <div class= "mx-7">
    <%= link_to root_path do %>
      <div class= "flex justify-center">
        <%= image_tag 'icon_120070_256.png', size: '30x30' %>
      </div>
      <p class= "font-extralight">Home</p>
    <% end %>
  </div>
  <div class= "mx-7">
    <%= link_to new_size_path do %>
      <div class= "flex justify-center">
        <%= image_tag 'icon_147160_256.png', size: '30x30' %>
      </div>
      <p class= "font-extralight">Sizes</p>
    <% end %>
  </div>
</div>