<div class= "flex flex-row justify-center items-center bg-gray-400 bg-opacity-60 p-2 sticky bottom-0">
  <div>
    <%= link_to root_path do %>
      <div class= "flex flex-col justify-center mx-5">
        <div class= "flex  justify-center">
          <%= image_tag 'icon_120070_256.png', size: '30x30' %>
        </div>
        <p class= "font-normal">Home</p>
      </div>
    <% end %>
  </div>
  <div>
    <%= mail_to 'clothxsize.2022@gmail.com' do %>
      <div class= "flex flex-col mx-5">
        <div class= "flex  justify-center">
          <%= image_tag 'mail_icon.png', size: '30x30' %>
        </div>
        <p class= "font-normal">Inquiry</p>
      </div>
    <% end %>
  </div>
</div>