<h1 class= "text-center font-bold text-4xl m-5">Sizes</h1>
<div class="bg-white rounded-lg border shadow-md hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
  <%= link_to new_size_top_path(@size) do %>
    <div class= "flex flex-row h-auto w-auto">
      <%= image_tag 'icon_133780_256.png', size: '50x50', class: 'my-3 ml-7 ' %>
      <div class="my-3 mr-7 p-3">
        <h2 class="text-2xl font-bold">Tops</h2>
      </div>
    </div>
  <% end %>
</div>