<div class= "flex flex-col mt-8">
  <div class= "mb-2 ml-3 text-2xl text-center font-bold">
    <%= material.name %>
  </div>
  <%= image_tag material.material_image_url, class: 'rounded-lg md:h-auto md:w-48' %>
</div>