<div class="w-60 h-screen shadow-md bg-gray-400 bg-opacity-60 px-1 absolute">
  <ul class="relative">
    <li class="relative">
      <div class= "flex justify-center py-5 font-bold">
        <%= link_to t('admin.dashboards.index.title'), admin_root_path %>
      </div>
    </li>
    <li class="relative">
      <div class= "flex justify-center py-5 font-bold">
        <%= link_to Material.model_name.human, admin_materials_path %>
      </div>
    </li>
    <li class="relative">
      <div class= "flex justify-center py-5 font-bold">
        <%= link_to Quiz.model_name.human, admin_quizzes_path %>
      </div>
    </li>
    <li>
      <div class= "flex justify-center py-5 font-bold">
        <%= button_to t('defaults.logout'), admin_logout_path, method: :delete %>
      </div>
    </li>
  </ul>
</div>